<html>

  <head>
    <title>Openphoto Tagger</title>
    <link rel="stylesheet" type="text/css" href="/css/{{ cssfile }}" />
    {% block css %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    <script type="text/javascript" src="/js/{{ jsfile }}"></script>
    {% block javascript %}{% endblock %}
  </body>
 
</html>


