{% extends 'base.twig' %}

{% block javascript %}
    <script src="https://browserid.org/include.js" type="text/javascript"></script>  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ jsfile }}"></script>
{% endblock %}


{% block body %}  
    <div class="well login">
      <h6>Openphoto tagger</h6>

      <a id="browserid" title="Sign-in with BrowserID"><img src="https://browserid.org/i/sign_in_blue.png" alt="Sign in"></a>  
    </div>

{% endblock %} 
